<%= form_for(@breeze) do |f| %>
  <% if @breeze.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@breeze.errors.count, "error") %> prohibited this breeze from being saved:</h2>

      <ul>
      <% @breeze.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% if current_user %>
      <% @breeze.user_id = current_user.id %>
    <%else%>
        <% @breeze.user_id = 0 %>
    <%end%>
  <div class="field">
    <%= f.hidden_field :user_id%>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :size => "80x10" %>
  </div>
  <div class="field">
    <%= f.label :cat_id %><br />
    <%= f.text_field :cat_id %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
