<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Encrypted password:</b>
  <%= @user.crypted_password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', home_path %>
