<h1>Home</h1>
  <% if current_user %>
    <%= "Signed in as #{current_user.login}. Not you?" %>
    <%= link_to "Sign out", logout_path %>
    <div>
      <%= link_to 'My breezes', my_index_path %>
    </div>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
    <div>
      <%= link_to 'List all breezes', breezes_path %>
    </div>
